{% extends "add-listing.html" %}
{% block boat %}
	 <form method="post" enctype="multipart/form-data" class="row g-4">
        {% csrf_token %}
         {{ form.errors }}
        <input type="hidden" name="category" value="boats">
        <div class="col-12 col-md-6">
            {{ form.title.label }}
            {{ form.title }}
        </div>
         <div class="col-12 col-md-6">
            {{ form.category.label }}
            {{ form.category }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.make.label }}
            {{ form.make }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.year.label }}
            {{ form.year }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.price.label }}
            {{ form.price }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.length.label }}
            {{ form.length }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.engine_type.label }}
            {{ form.engine_type }}
        </div>
        <div class="col-12 col-md-6">
            {{ form.horsepower.label }}
            {{ form.horsepower }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.material.label }}
            {{ form.material }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.capacity.label }}
            {{ form.capacity }}
        </div>
         <div class="col-12">
          {{ form.location.label }}
            {{ form.location }}
        </div>
        <div class="col-12">
          {{ form.description.label }}
            {{ form.description }}
        </div>
        <div class="col-12">
          {{ form.image.label }}
            {{ form.image }}
        </div>

        <div class="col-12 text-center">
          <button type="submit" class="btn btn-success btn-lg px-5">Добави лодка</button>
        </div>
      </form>
{% endblock %}