{% extends 'common/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Моите обяви</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Yamaha SX210</h5>
                        <small>01 Jul 2025</small>
                    </div>
                    <p class="mb-1">Прекрасна лодка с нисък разход на гориво, подходяща за семейни излети и риболов.</p>
                    <small>Цена: 25000 € | Категория: лодки</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Bayliner Element E18</h5>
                        <small>15 Jun 2025</small>
                    </div>
                    <p class="mb-1">Лодка с отлични характеристики за начинаещи и напреднали, удобна и стабилна.</p>
                    <small>Цена: 18000 € | Категория: лодки</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Honda BF50</h5>
                        <small>28 May 2025</small>
                    </div>
                    <p class="mb-1">Мотор за лодка в отлично състояние, мощност 50 конски сили, икономичен.</p>
                    <small>Цена: 4500 € | Категория: лодки</small>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
